flask
flask-socketio
flask-limiter
flask-cors
python-jose[cryptography]
flask-sqlalchemy
sqlalchemy
gevent
gevent-websocket
python-dotenv
gunicorn
opencv-python-headless
librosa
torch
torchvision
scikit-learn
numpy
pandas
requests
Pillow
reportlab
psycopg2-binary
mediapipe
